[submodule "lib"]
	path = lib
	url = https://github.com/glayzzle/php-parser.git
[submodule "test/token/beaba"]
	path = test/token/beaba
	url = https://github.com/ichiriac/beaba.git
[submodule "test/token/laravel"]
	path = test/token/laravel
	url = https://github.com/laravel/laravel.git
[submodule "test/token/zf2"]
	path = test/token/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "test/token/symfony"]
	path = test/token/symfony
	url = https://github.com/symfony/symfony.git
[submodule "test/token/tcpdf"]
	path = test/token/tcpdf
	url = https://github.com/tecnickcom/TCPDF
[submodule "test/token/evernote-cloud-sdk-php"]
	path = test/token/evernote-cloud-sdk-php
	url = https://github.com/evernote/evernote-cloud-sdk-php.git
[submodule "test/token/yii2"]
	path = test/token/yii2
	url = https://github.com/yiisoft/yii2.git
[submodule "test/token/CodeIgniter"]
	path = test/token/CodeIgniter
	url = https://github.com/bcit-ci/CodeIgniter.git
[submodule "test/token/magento1"]
	path = test/token/magento1
	url = https://github.com/bragento/magento-core
[submodule "test/token/magento2"]
	path = test/token/magento2
	url = https://github.com/magento/magento2
[submodule "test/token/opencart"]
	path = test/token/opencart
	url = https://github.com/opencart/opencart.git
[submodule "test/php-langspec"]
	path = test/php-langspec
	url = https://github.com/glayzzle/php-langspec.git
[submodule "test/token/wordpress"]
	path = test/token/wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "test/token/cakephp"]
	path = test/token/cakephp
	url = https://github.com/cakephp/cakephp.git
[submodule "test/token/drupal"]
	path = test/token/drupal
	url = https://github.com/drupal/drupal
[submodule "test/tokens"]
	path = test/tokens
	url = https://github.com/glayzzle/php-parser-dev-tokens.git
